// Body
$body-bg: #f8fafc;
$header-bg-color: #fff;
$primary-color: rgb(64, 57, 151);
$primary-color-darker: rgb(52, 49, 116);
$primary-color-lighter: rgb(144, 162, 244);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$secondary: #FD3030;
$secondary-alt: #FF6767;